



form{
    background-color: white;
    padding-right: 500px;
    margin-right:550px;
    margin-top: 50px;
    margin-left: 550px;
    padding: 50px;

    margin-bottom: 50px;

}
input[type="submit"]{
    width: 200px;


}